.header {
    padding: 0 30px;
    background: #24292f;
    border-radius: 5px 5px 0 0;
    height: 62px;
    box-sizing: border-box;
    color: #ffffff;
}

.header__content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
